<% layout('layout') -%>

<!--<h1><%= title %></h1>-->

<div class="row">
  <div class="col-sm-6">
    <h2>Transparency</h2>
    <div class="list-group">
      <a class="list-group-item" href="/transparency/embed">Embed Page</a>
      <a class="list-group-item" href="/transparency/modal">Modal Page</a>
    </div>

    <h2>Stripe</h2>
    <div class="list-group">
      <a class="list-group-item" href="/stripe/checkout">Checkout Simple</a>
      <a class="list-group-item" href="/stripe/checkout_custom">Checkout Custom</a>
      <a class="list-group-item" href="/stripe/checkout_no_amount">Checkout No Amount</a>
    </div>

    <h2>SPIKE</h2>
    <div class="list-group">
      <a class="list-group-item" href="/spike/embed">Embed</a>
      <a class="list-group-item" href="/spike/checkout">Checkout</a>
    </div>
  </div>
</div>

