<% layout('layout') -%>

<!--<h1><%= title %></h1>-->

<div class="row">
  <div class="col-sm-6">
    <h2>SPIKE</h2>
    <div class="list-group">
      <a class="list-group-item" href="/spike/embed">Embed</a>
      <a class="list-group-item" href="/spike/checkout">Checkout</a>
    </div>
  </div>
</div>

