<% layout('layout') %>

<h1><%= title %></h1>

<div class="row">
  <div class="col-sm-12">
    <button id="button1" class="btn btn-info" onclick="openModal()">Open iframe Modal</button>
  </div>
</div>

<script type="text/javascript">
  var iframeId = 'modal_XXXXX';

  function initIframe() {
    var element = document.createElement('iframe');

    element.src = '/transparency/modal';
    element.id = iframeId;

    element.scrolling = 'no';
    element.setAttribute('allowtransparency', true);
    element.frameBorder = 0;

    element.style.backgroundColor = 'transparent';
    element.style.border = '0px none transparent';
    element.style.overflow = 'hidden';
    element.style.display = 'none';
    element.style.position = 'fixed';
    element.style.visibility = 'visible';
    element.style.margin = '0px';
    element.style.padding = '0px';
    element.style.left = '0px';
    element.style.top = '0px';
    element.style.width = '100%';
    element.style.height = '100%';
    element.style.zIndex = '9999';
    element.style.webkitTapHighlightColor = 'transparent';

    document.body.appendChild(element);
  }

  initIframe();

  function openModal() {
    var element = document.getElementById(iframeId);
    element.style.display = 'block';
    element.contentWindow.postMessage('open', '*');
  }

  function closeModal() {
    var element = document.getElementById(iframeId);
    element.style.display = 'none';
  }

  function receiveMessage(event) {
    console.log('embed receiveMessage origin:', event.origin);
    //if (event.origin !== "http://example.com:8080") {
    //  return;
    //}

    if (event.data == 'close') {
      closeModal();
    }
  }

  window.addEventListener("message", receiveMessage, false);
</script>

